@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <img src=~/polo.jpeg />
    <h1 class="display-4">Welcome</h1>
    <p>This is an app to view models and stock of avalible cars.</p>
</div>
